@model EBookLibraryData.Models.ViewModels.BooksManage.ManagePanelViewModel

<div class="row text-center">
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 col-sm-offset-1 col-md-offset-3 col-lg-offset-4">
        <form asp-controller="Account" asp-action="Login" method="post">
            <h4>Rejestracja</h4>
            <div class="form-group">
                <label asp-for="OperationType"></label>
                <input asp-for="OperationType" class="form-control" />
                <span asp-validation-for="OperationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN"></label>
                <input asp-for="ISBN" type="text" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages"></label>
                <input asp-for="Pages" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path"></label>
                <input asp-for="Path" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher"></label>
                <input asp-for="Publisher" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Zaloguj</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}