@using EBookLibraryData.Models

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User) <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @*<li><a asp-controller="Manage" asp-action="Index">Moje Konto</a></li>
            <li><a asp-controller="Auction" asp-action="AddAuction">Dodaj Aukcje</a></li>
            <li><a asp-controller="Auction" asp-action="ManageAuctions">Zarzadzaj Aukcjami</a></li>*@
            <li role="separator" class="divider"></li>
            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
        </ul>
    </li>
}
else
{
    <li><a asp-controller="Account" asp-action="Login">Zaloguj</a></li>
    <li><a asp-controller="Account" asp-action="Register">Rejestracja</a></li>
}