@using EBookLibraryData.Models

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User) <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @if (User.IsInRole("Admin"))
            {
                <li role="separator" class="divider"></li>
                <li><a class="dropdown-item" asp-controller="BooksManage" asp-action="ManagePanel">Zarzadzaj książkami</a></li>
            }
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
        </ul>
    </li>
}
else
{
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Zaloguj</a></li>
    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Rejestracja</a></li>
}